langgraph
langchain
langchain-community
langchain-text-splitters
chromadb
sentence-transformers
duckduckgo-search
streamlit
python-dotenv
requests
pydantic
mcp
tf-keras
hf_xet
pypdf
tavily-python
google-api-python-client
groq
langchain-groq
atlassian-python-api